{% extends 'base.html.twig' %}

{% block body %}
    <section class="wishes-list">
        <h2>All wishes !</h2>
        {% for wish in wishes %}
            <div><a href="{{ path('wish_detail', {'id': wish.id}) }}" title="View wish details">{{ wish.title }} [{{ wish.category.name }}]</a></div>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
All wishes | {{ parent() }}
{% endblock %}

