{% extends 'base.html.twig' %}

{% block title %}
About us | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis culpa, debitis deserunt dolore dolorum et
        hic ipsum iure molestiae mollitia neque nobis pariatur placeat porro quisquam sint, tempora ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi est harum minus perferendis quod reiciendis
        tempora ullam unde veniam voluptatibus! Ad earum id laborum nisi quia quo repellendus saepe similique?</p>
{% endblock %}

